* {
  font-family: sans-serif;
}
body {
  background-color: hsl(235, 39%, 17%);
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  background-image: url(./../../public/pokeball-icon.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: -180px;
  background-position-y: -80px;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: #011030;
  margin: 5px;
  text-align: center;
}

h4 {
  margin-top: 15px;
}
